body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 15px;
    background-color: aquamarine;
    color: white;
}

p {
    color: green;
    font-size: 20px
}

button {
    color: red;
}

.classe {
    color: blue;
}


.passaggi {
    color: brown;
}

#logo {
    color: darkslategray;
}

main {
    background-color: white;
    padding: 20px;
    color: black;
}

footer {
    padding: 20px;
}

.menu-link {
    text-decoration: none;
    color: blue;
}